@page "/contato"

<PageTitle>Contato</PageTitle>


<section class="pagina-inicial">
    <h1>Meu Contato</h1>
    <p>

        📧 E-mail <br />
        estefanisouzadeoliveira600@gmail.com <br />

    </p>

    <h3>📱Telefone</h3>

    <p>

        +55 (69) 99915-1824<br />

    </p>

    <h3>📍Localização</h3>

    <p>

        Ji-Paraná – Rondônia, Brasil
        
    </p>

    <h3>📸Rede Social</h3>

    <p>

        instagram: fany_szaa

    </p>

    <h3>🎨Área de Interesse</h3>

    <p>

        Design Digital e Tecnologia <br />

    </p>

    <h3>🌍Objetivo Futuro</h3>

    <p>

        Construir uma carreira internacional na área de Design Digital,<br />
        buscando oportunidades de crescimento profissional em Portugal. <br />

    </p>

    <h3>✨Perfil</h3>

    <p>

        Criativa, dedicada e determinada a crescer profissionalmente,<br />
        sempre buscando aprender coisas novas e desenvolver minhas habilidades.<br />

    </p>


</section>

