@page "/contato-mayara"

<PageTitle>Meu Currículo</PageTitle>
<article class="cartao-destaque cartao-destaque-contato" id="contato">
    <span class="numero-destaque">03</span>

    <h2>Entre em contato</h2>

    <p>
        Estou sempre aberta para novas oportunidades, projetos,
        parcerias e conexões na área de tecnologia. Será um prazer
        conversar e compartilhar experiências.
    </p>

    <a href="mailto:seuemail@email.com">Iniciar conversa</a>
</article>