@page "/curriculo"

<PageTitle>Meu Curriculo</PageTitle>


    <section class="pagina-inicial">
        <h1>Meu Curriculo</h1>
        <h3>Perfil Profissional</h3>
        <p>
           
            Dados Pessoais

        Nome: Estefani Souza de Oliveira <br />
        Idade: 17 anos <br />
        Cidade: Ji-Paraná – RO <br />
        Objetivo: Crescer profissionalmente na área de Design Digital e futuramente trabalhar em Portugal. <br />
      
        </p>
        
    <h3>Objetivo Profissional</h3> 

        <p>

        Busco adquirir experiência profissional, desenvolver minhas habilidades criativas e crescer na área de Design Digital, <br />
        buscando oportunidades futuras em Portugal. <br />

        </p>

    <h3>Formação Acadêmica</h3>

        <p>

        Instituto Federal de Rondônia (IFRO) 
        Cursando Ensino Médio Técnico.

        </p>

    <h3>Habilidades</h3>
        
        <p>

        Habilidades <br />
        Criatividade <br />
        Facilidade em aprender <br />
        Trabalho em equipe <br />
        Organização <br />
        Interesse por tecnologia e design <br />
        Comunicação <br />
        Informações Adicionais <br />
        Interesse em Design Digital e tecnologia <br />
        Dedicação aos estudos e desenvolvimento profissional <br />
        Objetivo de construir carreira internacional <br />

        </p>
        

    </section>

