@page "/Historia"

<PageTitle>Minha Historia</PageTitle>

<section class="pagina-inicial">
    <h1>Minha Historia</h1>
    <p>
        Meu nome é Estefani Souza de Oliveira, tenho 17 anos e nasci em Ji-Paraná, Rondônia.<br />
        Cresci em um sítio, próximo a Presidente Médici, junto com minhas duas irmãs mais velhas, <br />
        em um ambiente que me ensinou valores importantes como esforço e responsabilidade.<br />

        Atualmente, estudo no Instituto Federal de Rondônia (IFRO),<br />
        onde busco me desenvolver e construir meu futuro. <br />
        Tenho como principal objetivo crescer na vida e conquistar oportunidades em outro país,<br />
        ampliando meus conhecimentos e experiências.<br />

        Acredito que, com dedicação e foco, posso alcançar meus sonhos <br />
        e transformar minha realidade.<br />

    </p>
</section>
